a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.crop-img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.text-dec-none:hover {
    text-decoration: none;
}

.main-content {
    min-height: 100vh;
    max-width: 70rem;
}

.popper-element {
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: opacity .3s, visibility .3s;
}

.popper-element[data-show="true"] {
    opacity: 1;
    visibility: visible;
}

.footer {
    margin-top: 2rem;
    background: #333;
    color: #ffffff;
    width: 100%;
}